{% extends 'base.html.twig' %}

{% block title %}Gestion des articles{% endblock %}

{% block body %}

<div class="container-fluid mt-10">
	{% for message in app.flashes('success')%}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<h2 class="text-center titre">Gestion des articles</h2>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('admin') }}">Accueil admin<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('admin.articles.add')}}">Crée un nouvelle article</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('admin.articles.category')}}">Gérer les categories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('logout') }}">Se déconecter</a>
				</li>
			</ul>
			<span class="navbar-text">
		  Bienvenu {{ app.user.prenom }} {{ app.user.nom }}({{ app.user.email }})
		</span>
		</div>
	</nav>
	<br>			
	<div class="row">
		<div class="col-12">
			
			<table class="table table-striped">
				<thead>
					<tr>
						<td scope="col">Titre de l'article</td>
						<td scope="col">Categorie</td>
						<td scope="col">En ligne</td>
						<td scope="col">Date de création</td>
						<td scope="col">Actions</td>
					</tr>
				</thead>
				<tbody>
					{% for article in articles %}
					<tr>
						<td>{{ article.titre }}</td>
						<td>{{ article.category }}</td>
						<td>{% if article.online %}
							Oui
							{% else %}
							Non
							{% endif %}
						</td>
						<td>{{ article.CreatedAt|date("d/m/Y") }}</td>
						<td>
							<a href="{{ path ('admin.articles.edit', {id: article.id})}}" class="btn btn-primary">Editer</a>
							<form method="POST" action="{{ path ('admin.articles.delete', {id: article.id})}}" style="display:inline-block">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id)}}">
								<button class="btn btn-danger" onclick="return confirm('Voulez-vous vraiment supprimer cette article ?')">Supprimer</button>
							</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock %}