{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}


		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-12">
					<div class='jumbotron'>
						<h1>{{ article.titre }}</h1>
					</div>
						{% if article.image %}
							<img src="{{ vich_uploader_asset(article, 'imageFile') }}"  width=100% height=auto alt="{{ article.titre }}">
						{% else %}
							<img src="{{ asset('/images/logo_meteo.png') }}" width=150 height=150 class=" " alt="{{ article.titre }}">
						{% endif %}
						<p class=" text-center">{{ article.content|raw  }}</p>
						<p class="text-center">Auteur de l'article: {{ article.auteur }} | Date de création de l'article {{ article.CreatedAt|date("d/m/Y H:i") }}</p>
				</div>
			</div>
		</div>
	</div>

	{#<div class="row">
		<div class="col-md-12 col-sm-12 col-lg-12">
			<div class="card">
				<div class="card-header">
					Commentaires
				</div>
				<div class="card-body">
					<h5 class="card-title">Laissez un commentaire sur l'article</h5>
					<p class="card-text">Cette fonction est en cours de developpement.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>#}
{% endblock %}